<html>
    <head>
        <title>
            Mars Data
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
   <body>
        <div class='container-fluid'>
            <div class='row' style='height: 100px'>
                <div class='col-lg bg-light' style='height: 150px; text-align: center; padding: 20px'>
                    <H1>Mission to Mars<br></H1>
                    <a href='scrape'><button type="button" class="btn btn-primary">Scrape</button></a>
                </div>
            </div>
            <div class='row' style='margin-top: 60px'>
                <div class='col-12'>
                    <p><h2>Latest Mars News</h2></p>
                    <p><b>{{news_title}}</b></p>
                    {{news_p}}
                </div>
            </div>
            <div class='row' style='margin-top: 20px'>
                <div class='col-6'>
                   <p> <h2>Featured Mars Image</h2></p>
                    <img src={{featured_image_url}} height="400", width="400">
                </div>
                <div class='col-6'>
                    <div class='container-fluid'>
                        <div class="row">
                            <span class="border border-light" style='padding: 20px'>
                                <b>Mars Current Weather</b><br>
                                {{mars_weather}}
                            </span>
                        </div>
                        <div class='row'>
                            {{facts_table|safe}}
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-12' style='text-align: center'>
                    <h2>Martian Hemisphers</h2>
                </div>
                <div class='row'>

                    {% for dic in hemisphere_image_urls %}
                        {% for title, url in dic.items() %}
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <img class="card-img-top" src={{url}}>
                                    <div class="card-body">
                                        <h5 class="card-title">{{title}}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}


                </div>
            </div>
        </div>
   </body>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>